    .center {
        display:block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 100px;
    }


    body {
        background-color: rgb(255, 255, 255);
        background-image: url(deoxys.jpg);
        background-repeat: no-repeat;
        background-size: cover  ;
    }